summary {
    /* display: list-item;以外を指定してデフォルトの三角形アイコンを消します */
    display: block;
}

summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消します */
    display: none;
}

.summary_inner {
    cursor: pointer;
}

.icon {
    display: block;
    position: relative;
    width: 24px;
    margin-left: 6px;
    flex-shrink: 0;
    transform-origin: center 43%;
    transition: transform 0.4s;
}

/* is-openedクラスが付与されたときのスタイル */
details.is-opened .icon {
    transform: rotate(180deg);
}

/* アイコンのバーのスタイル */
.icon::before,
.icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 3px;
    background-color: #7050ff;
}

.icon::before {
    left: 0;
    transform: rotate(45deg);
}

.icon::after {
    right: 0;
    transform: rotate(-45deg);
}

/* --------アコーディオンの中身のスタイル-------- */
.content {
    overflow: hidden;
    /* details直下のタグにpaddingを設定すると挙動がおかしくなるので、ここには指定しない */
}